<div class="report-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Nouveau signalement</mat-card-title>
    </mat-card-header>
    <form class="form" [formGroup]="reportForm" autocomplete="on" (ngSubmit)="submitReport()">
      <mat-form-field class="form__control" appearance="fill">
        <input matInput type="text" name="email" placeholder="Email*" formControlName="email">
        <mat-error *ngIf="hasError('email')">
          {{ getErrorForControl('email') }}
        </mat-error>
      </mat-form-field>
      <div class="form__full-name">
        <mat-form-field class="form__control" appearance="fill">
          <input matInput type="text" name="lname" placeholder="Nom*" formControlName="lastName">
          <mat-error *ngIf="hasError">
            {{ getErrorForControl('lastName') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form__control" appearance="fill">
          <input matInput type="text" name="fname" placeholder="Prénom*" formControlName="firstName">
          <mat-error *ngIf="hasError">
            {{ getErrorForControl('firstName') }}
          </mat-error>
        </mat-form-field>
      </div>
      <mat-form-field class="form__control" appearance="fill">
        <mat-label>Date de naissance</mat-label>
        <input matInput
               [min]="minDate"
               [max]="maxDate"
               [matDatepicker]="picker"
               formControlName="birthDate">
        <mat-hint>JJ/MM/AAAA</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker startView="multi-year" [startAt]="startDate" #picker></mat-datepicker>
        <mat-error *ngIf="hasError('birthDate')">
          {{ getErrorForControl('birthDate') }}
        </mat-error>
      </mat-form-field>
      <mat-label class="form__label">Genre:</mat-label>
      <mat-radio-group class="form__control" formControlName="genre">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Femelle</mat-radio-button>
        <mat-radio-button value="non-binary">Non-binaire</mat-radio-button>
      </mat-radio-group>
      <mat-form-field class="form__control" appearance="fill">
        <mat-label>Observations</mat-label>
        <mat-chip-grid #chipGrid>
          <mat-chip-row class="observation-chip" *ngFor="let observation of observations" (removed)="removeObservation(observation)">
            {{ observation.name }}
            <button matChipRemove [attr.aria-label]="'Remove ' + observation.name">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input
          placeholder="Ajouter une observation"
          #observationsInput
          formControlName="observationsControl"
          [matChipInputFor]="chipGrid"
          [matAutocomplete]="auto"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addObservation($event)"/>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedObservation($event)">
          <mat-option *ngFor="let observation of filteredObservations | async" [value]="observation">
            {{ observation.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="form__control" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea (keydown.enter)="submitReport()" matInput formControlName="description"></textarea>
      </mat-form-field>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="submit">Ajouter</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
