<div class="page">
  <div class="wrapper">
    <div id="reports">
      <div *ngFor="let report of allReports">
        <div class="report-card">
          <app-report-card [report]="report"></app-report-card>
        </div>
      </div>

      <div *ngIf="!addingReport; else addReport">
        <div class="circle" (click)="showNewReportForm()">
          <span class="circle__symbol">+</span>
        </div>

        <div class="new-report">Ajouter un nouveau signalement</div>
      </div>
      <ng-template #addReport>
        <app-report-form></app-report-form>
      </ng-template>
    </div>
  </div>
</div>
